@model ErrorDto
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Bir hata meydana geldi</h1>


// burdan bana list string gelecek
@foreach (var item in Model.Errors)
{
    <p>@item</p>
}