@model IEnumerable<CategoryDto>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-primary" asp-action="Create">Kategori Ekle</a>
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>İşlemler</th>
    </thead>
        <tbody>
            @* Model üzerinden bana  IEnumerable<CategoryDto> gelir *@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @* update/1 *@
                        @* delete/1 *@
                        <a asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }

        </tbody>
</table>