@model CategoryDto
@{
    ViewData["Title"] = "Update";
}

<h1>Kategori Güncelleme</h1>
<div class="row">

    <div class="col-md-4">

        <form asp-action="Update">

            @* ModelOnyl = benim alttaki name hataları gözükmedi burdaki hatalar Model üzerinden gelen hatalar 
                yani kod tarafında eklemiş olduğumuz hatalar only ifadesi onu ifade eder. only kullanmazsak
                aşağıdaki hatalarda gözükür.*@
            <div asp-validation-summary="ModelOnly" class="text-danger">

                <div class="form-group">

                    <label asp-for="Name">Kategori ismi: </label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>

                </div>

                <div class="form-group">
                    @* submit butonuna tıkladığım zaman Name alanı sayesinde CCategoryDto
                        sınıfı dolucak categoriescontrollerdeki  CategoryDto categoryDto yere gelicek
                               ekleme işlei başarılı olursa Index sayfasına yönlendirilicem*@
                    <input type="submit" value="Güncelle" class="btn btn-primary" />
                </div>
            </div>




        </form>


    </div>

</div>

